.auth-page {
  min-height: calc(100vh - 4rem); /* adjust for navbar height */
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-primary);
  padding: 2rem;
}

.auth-form {
  width: 90%;
  max-width: 400px;
  padding: 2rem;
  border: 1px solid #3b0062;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
